cloud_id                 = "b1ggd92nf1qjakl34fqg"
folder_id                = "87yhakjsf56fahffa"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/yc.pub"
subnet_id                = "e9bjhq7onjjd4i1irrsl"
service_account_key_file = "otus_key.json"
private_key_path         = "~/.ssh/yc"
app_disk_image           = "fd8ka7r3sljmkra3hd2a"
db_disk_image            = "fd8atlel7uc9veh0295k"
